body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp7AYKOwgIy3PT7fpkM2vLLwJ269v2QxOgODU7paBZvA&s");
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    color: black;
}