
body{
    background-image: url("https://marketplace.canva.com/EAFnT0_R66w/1/0/1131w/canva-brown-aesthetic-paper-texture-portfolio-cover-document-QEogL5pWyVA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.box-1{
    font-size: 30px;
    font-style: normal;
}
.h1{
    text-align: center;
    font-size: 40px;
}
.box-2{
    font-size: 30px;
   
}
.box-3{
    font-size: 30px;
    
}
.box-4{
    font-size: 30px;
    
}